*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    color: #F9FAF8;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}

.one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header, .hero{
    width: 80%;
}

.header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header ul{
    gap: 20px;
    display: flex;
    
}

.one .hero{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 40px 70px 100px 70px;
    
}

.one .hero .left{
    align-content: center;
}

.one h1{
    padding-bottom: 12px;
}

.hero h1{
    font-size: 48px;
    font-weight: 900;
}

img.main-raccoon{
    height: 500px;
    width: auto;
}

.sign-up-button{
    background-color: #3882F6;
    font-size: 1.1rem;
    padding: 6px 24px;
    margin: 18px 12px;
    border-radius: 8px;
    border: none;
}

.two *{
    color: #1F2937;
}

.two h2{
    font-weight: 900;
    font-size: 36px;
    padding: 18px;
    display: flex;
    justify-content: center;
}

.raccoon-type-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 48px;
}

.raccoon-type img{
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

.raccoon-type img, .raccoon-type p{
    width: 200px;
}

.raccoon-type p{
    padding-top: 6px;
    text-align: center;
}

.three{
    background-color: #E5E7EB;
}

.three .container{
    width: 35%;
    padding: 48px 0;;
    margin: auto;
}

.three p, h5{
    color: #1F2937;
    font-style: italic;
    
}

.three p{
    font-size: 1.4rem;
    padding-bottom: 12px;
}

.three h5{
    font-weight: bolder;
    font-size: .9rem;
    text-align: right;
}

.four p{
    font-size: 1.1rem;
}

.four h4{
    font-size: 1.2rem;
    padding-bottom: 6px;
}

.four .container{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 40%;
    margin: 52px auto;
    border-radius: 8px;
    padding: 16px;
    gap: 12px;
}

.four .button-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.four .sign-up-button{
    border: 1px solid #E5E7EB;
}

footer{
    background-color: #1F2937;
}
footer p{
    font-size: .8rem;
    padding: 22px;
    text-align: center;
}