*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    color: #F9FAF8;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    transition: all ease-in-out .5ss;
}

.header li:hover{
    transform: scale(1.2);
    
}

button:hover{
    transform: scale(1.1);
}

.one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header, .hero{
    width: 80%;
}

.header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    @media(max-width: 1024px){
        justify-content: center;
    }
}

.header ul{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.one .hero{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex: 1;
    margin: 20px 70px 100px 70px;
    @media(max-width: 1024px){
        flex-direction: column;
        gap: 0;
        margin-bottom: 60px;
    }
    
}

.one .hero .left{
    align-content: center;
    flex-shrink: 1;
}

.one .hero .right{
    max-width: 50%;
    flex-shrink: 2;
    @media(max-width: 1024px){
        
    }
}

.one h1{
    padding-bottom: 12px;
}

.hero h1{
    font-size: 48px;
    font-weight: 900;
}

img.main-raccoon{
    width: 50%;
    height: auto;
    display: flex;
    flex: 1;
}

.sign-up-button{
    background-color: #3882F6;
    font-size: 1.1rem;
    padding: 6px 24px;
    margin: 18px 12px;
    border-radius: 8px;
    border: none;
}

.two *{
    color: #1F2937;
}

.two h2{
    font-weight: 900;
    font-size: 36px;
    padding: 18px;
    display: flex;
    justify-content: center;
}

.raccoon-type-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0  12px 48px 12px;
    @media(max-width: 1024px){
        flex-wrap: wrap;
    }
}

.raccoon-type img{
    border: #3882F6 solid 4px;
    border-radius: 12px;
    transition: ease .5s all ;
}

.raccoon-type img:hover{
    transform: scale(1.4);

}

.raccoon-type img, .raccoon-type p{
    width: 200px;
    
    
}

.raccoon-type p{
    padding-top: 6px;
    text-align: center;
}

.three{
    background-color: #E5E7EB;
}

.three .container{
    width: 35%;
    padding: 48px 0;;
    margin: auto;
    @media(max-width: 1024px){
        width: 60%;
    }
}

.three p, h5{
    color: #1F2937;
    font-style: italic;
    
    
}

.three p{
    font-size: 1.4rem;
    padding-bottom: 12px;
}

.three h5{
    font-weight: bolder;
    font-size: .9rem;
    text-align: right;
}

.four p{
    font-size: 1.1rem;
}

.four h4{
    font-size: 1.2rem;
    padding-bottom: 6px;
}

.four .container{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 40%;
    margin: 52px auto;
    border-radius: 8px;
    padding: 16px;
    gap: 12px;
    @media(max-width: 1024px){
        flex-direction: column;
    }
}

.four .button-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.four .sign-up-button{
    border: 1px solid #E5E7EB;
}

footer{
    background-color: #1F2937;
}
footer p{
    font-size: .8rem;
    padding: 22px;
    text-align: center;
}